<div id="wrapper" >  
    <!-- Top Card - Input form panel -->
    <div class="card ">
        <div class="card-header card-body" ng-controller="logoutController">
            <ul class="nav nav-pills card-header-pills float-left">
                <li class="nav-item">
                    <button class="btn btn-primary" ng-click="" >What is this page about</button> <!--**** Edit this page to make your own ****-->
                </li>
            </ul>
            <button class="btn btn-secondary float-right" ng-click="logout()" type="button" >Logout</button>
        </div>
        <!--**** homeController starts from here ****-->
        <div class="card-block card-body" ng-controller="homeController">
            <h4 class="card-title"></h4>
            <p class="card-text"> </p>
            <form class="form form-inline">
                <div class="row">
                    <div class="col-lg-4">
                        <div class=" form-group">
                            <div class="input-group">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group text-center">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Graph Card -->
    <div class="card card-block text-xs-center card-outline-primary " ng-show="">
        <div class="row"  >
            <div class="col-lg-12">
                <p class="alert-success"></p>
                <div class="container" >
                    <div class="row" id="row-top">

                    </div>
                    <div class="row" >
                        <div class="col-lg-3" >

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
